body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #80bfff;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    margin-left: 50px;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4da6ff;
    text-decoration: none;
}

.active {
    background-color: #4da6ff;
}
