table{
    border: 1px solid;
    border-collapse: collapse;
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}
tr:nth-child(even) {
    background-color: #b3d9ff;}
a{text-decoration: none;}
button {
    background-color: #4d4dff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 170px;
    align-content: center;
}

button:hover {

    background-color: #4da6ff;
}