<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoostCom</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoic.png}">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" rel="stylesheet">
    <link th:href="@{/css/forms.css}" rel="stylesheet">


</head>
<body>

<ul style="text-decoration: none">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/contracts/selection">Contracts</a></li>
    <li><a href="#">Providers</a></li>
    <li><a href="#">Channels</a></li>
    <li><a href="#">Packets</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/register">Register</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/login">Log in</a></li>

</ul>

<form th:action="@{/contracts/provider/add}"
 th:object="${contractProviderBindingDto}" method="POST" style="margin-left: auto;
  margin-right: auto;margin-top: 100px;">
    <label style="font-size: 15px"><b>Provider Contract:</b></label><br><br>
<label style="margin-top: 40px"><b>Provider Name</b></label>
<input type="text" placeholder="Enter Provider Name" th:field="*{providerName}">
    <label><b>Contract Price</b></label>
    <input type="number" min="0" step="0.1" th:field="*{contractPrice}"><br>

    <label><b>Chanel</b></label>
    <input type="text" placeholder="Enter Channel Name" th:field="*{channels}"><br>
    <label><b>Category</b></label>
    <select name="categorys">
        <option disabled selected value> -- select a category -- </option>
        <option th:each="anCategory: ${categories}"
                th:text="${anCategory}"
                th:value="${anCategory}"
                th:selected="${anCategory} == *{category}">
            Category
        </option>
    </select><br>

    <label><b>Channel Price</b></label>
    <input type="number" min="0" step="0.1" th:field="*{channelPrices}"><br>

    <label ><b>Chanel</b></label>
    <input type="text" placeholder="Enter Channel Name" th:field="*{channels}">

    <label><b>Category</b></label>
    <select name="categorys">
        <option disabled selected value> -- select a category -- </option>
        <option th:each="anCategory: ${categories}"
                th:text="${anCategory}"
                th:value="${anCategory}"
                th:selected="${anCategory} == *{category}">
            Category
        </option>
    </select><br>

    <label><b>Channel Price</b></label>
    <input type="number" min="0" step="0.1" th:field="*{channelPrices}"><br><br>

    <label><b>Start Date</b></label>
    <input type="date" min="2022-01-01" max="2023-01-01" th:field="*{startDate}"><br>

    <label><b>Expire Date</b></label>
    <input type="date" min="2022-01-01" max="2023-01-01" th:field="*{expireDate}">



<button type="submit">Create Provider Contract</button>
</form>


</body>
</html>