<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoostCom</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoic.png}">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" rel="stylesheet">
    <link th:href="@{/css/forms.css}" rel="stylesheet">


</head>
<body>

<ul style="text-decoration: none">
    <li><a href="/">Home</a></li>
    <li><a href="/contracts/selection">Contracts</a></li>
    <li><a href="/channels/view">Channels</a></li>
    <li><a class="active" href="/packets/all">Packets</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/register">Register</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/login">Log in</a></li>
    <li style="float:right; background-color:#ff0000"><a href="/user/all">Admin Panel</a></li>
</ul>

<form th:action="@{/packets/add}"
      th:object="${packetDto}" method="POST" style="margin-left: auto;
  margin-right: auto;margin-top: 100px;">
    <label style="font-size: 15px"><b>Packet:</b></label><br><br>

    <label style="margin-top: 40px"><b>Packet Name</b></label>
    <input type="text" placeholder="Packet Name" th:field="*{name}">

    <label style="font-size: 15px"><b>Channels</b> </label><br>
    <input th:each="channel : ${channels}"
               type="checkbox" th:value="${channel.channelName}"
               th:field="*{channels}"
               th:text="${channel.channelName}">



   <br> <button type="submit">Create Packet</button>
</form>


</body>
</html>