<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoostCom</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoic.png}">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" rel="stylesheet">
    <link th:href="@{/css/forms.css}" rel="stylesheet">


</head>
<body>

<ul style="text-decoration: none">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/contracts/selection">Contracts</a></li>
    <li><a href="/channels/view">Channels</a></li>
    <li><a href="/packets/all">Packets</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/register">Register</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/login">Log in</a></li>
    <li style="float:right; background-color:#ff0000"><a href="/user/all">Admin Panel</a></li>
</ul>

<form th:action="@{/contracts/user/add}"
      th:object="${contractUserBindingDto}" method="POST" style="margin-left: auto;
  margin-right: auto;margin-top: 100px;">
    <label style="font-size: 15px"><b>User Contract:</b></label><br><br>

    <label style="margin-top: 40px"><b>Subscriber Username</b></label>
    <input type="text" placeholder="Enter Username" th:field="*{username}"><br>

    <label style="margin-top: 40px"><b>Packet Name</b></label><br>
    <input th:each="packet : ${packetList}"
           type="checkbox" th:value="packet.name"
           th:field="*{packets}"
           th:text="${packet.name}"><br>

    <label style="margin-top: 40px"><b>Packet by Category</b></label><br>
    <input th:each="packet : ${packetList}"
           type="checkbox" th:value="packet.name"
           th:field="*{packets}"
           th:text="${packet.name}"><br>


    <label><b>Start Date</b></label>
    <input type="date" min="2022-01-01" max="2023-01-01" th:field="*{dateStarted}"><br>

    <label><b>Expire Date</b></label>
    <input type="date" min="2022-01-01" max="2023-01-01" th:field="*{dateExpire}">


    <button type="submit">Create User Contract</button>
</form>


</body>
</html>