<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoostCom</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logoic.png}">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">

</head>
<body>

<ul style="text-decoration: none">
    <li><a href="/">Home</a></li>
    <li><a href="/contracts/selection">Contracts</a></li>
    <li><a class="active" href="/channels/view">Channels</a></li>
    <li><a href="/packets/all">Packets</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/register">Register</a></li>
    <li style="float:right; font-weight: bold;"><a href="/user/login">Log in</a></li>
    <li style="float:right; background-color:#ff0000"><a href="/user/all">Admin Panel</a></li>

</ul>


<table style="margin-top:200px">
    <tr>
        <th>User</th>
        <th>E-Mail</th>
        <th>Role</th>


    </tr>
    <tr th:each ="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td><table style="border: none;width: 50%">
            <tr th:each ="role : ${user.roles}">
                <td th:text="${role.role}"><a th:href="'/'+ ${user.id}"></a></td>
            </tr>
        </table>
        </td>
        <td><a th:href="@{/user/update/{id}(id=${user.id})}" style="color: red">✏</a></td>
        <td><a th:href="@{/user/delete/{id}(id=${user.id})}">🗑️</a></td>
    </tr>
</table>
</body>
</html>